@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: Segoe UI;
  color: #000;
}

/*
 O Layout da pagina foi feito usando grid onde

 AS = aside
 CT = content

*/

#layout{
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  grid-template-areas:
  'AS CT';

  height: 100vh;
}

#aside{
  grid-area: AS;

  background-color: #E28F83;
  height: 630px;
}

#aside div{
  display: flex;
  flex-direction: column;
}

#aside p {
  font-family: Comic Sans MS;
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 200px;
}

#content{
  grid-area: CT;
  display: flex;

  background-color: #FAF2DA;
}

#content div{
  margin: 30px;
}

#content #cadastro h3{
  margin-bottom: 10px;
}

.rp1{
  width: 200px;
}

.lista{
  margin-bottom: 10px;
}